.student-login label{
    float: right;
    font-size: 15px;
}

button{
    background-color: rgb(68, 168, 135);
    text-align: center;
    float: unset;
}
.student-login,.row{
    padding: 12px;
}

.student-login{
    background-color: rgb(198, 212, 241);
    width: 70%;
    margin: auto;
    margin-top: 20px;
}


.navbar {
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow: auto;
    margin: 0px;
  }

.navbar a{
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    /* border: 1px solid rgb(8, 139, 67); */
  }

  .navbar a:hover {
    background-color: rgb(62, 179, 91);
  }

  .navbar a.active {
    background-color: rgb(8, 139, 67);
  }

  nav.navbar{
    padding: 1px;
  }


  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }
